@import "nullstyle.scss";
@import "fonts.scss";
@import 'slick.scss';
@import "global.scss";

// Header ==============================

.header {
  position: relative;
  height: 100vh;
}

// Logo =========

.header__title {
  max-width: 467px;
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  text-transform: uppercase;
  opacity: 0.07;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s infinite 6s;
}
@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}
.header__arrow {
  position: absolute;
  bottom: 40px;
  left: 210px;
  z-index: 1;
  a {
    cursor: pointer;
  }
}
.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-right: 2px solid rgba(#fff, 0.25);
  height: 100vh;
  text-align: center;
}
.header__aside-logo {
  margin: 0 0 20px 0;
}
.aside-logo {
}
.aside-image {
}
.header__menu {
}
.header__menu-list {
}
.header__menu-link {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  transition: opacity 0.2s linear;
  &:hover {
    opacity: 1;
  }
  img {
    margin: 0 0 2px 0;
  }
  span {
    margin: 0 0 15px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: #fff;
  }
}
.header__aside-search {
  margin: 0 0 15px;
}
.header__aside-date {
  margin: 0 0 15px 0;
  font-weight: 800;
  font-size: 50px;
  line-height: 35px;
  span {
    display: block;
    padding: 5px 0 0 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
  }
}
.header__aside-location {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  opacity: 0.8;
  position: relative;
  padding: 0 0 0 19px;
  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 13px;
    left: 0;
    top: 0;
    background: url(/images/icons/POI.svg) center / cover no-repeat;
  }
}

// Slider =======

.header__slider {
  &-item {
    position: relative;
    height: 100vh;
    background: url(/images/header/Background.jpg) center / cover no-repeat;
  }
}
.slick-prev,
.slick-next {
  height: 21px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

  position: absolute;
  z-index: 10;
  top: 40px;
  right: 80px;
}
.slick-prev {
  background-image: url("/images/header/arrow-l.svg");
  right: 123px;
}
.slick-next {
  background-image: url("/images/header/arrow-r.svg");
}
.slider-item {
}
.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
}
.slider-item__info-suptitle {
}
.slider-item__info-title {
  margin: 0 0 48px 0;
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
}
.slider-item__info-suptext {
}
.slider-item__info-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 86px;
}
.slider-item__info-link {
}

// Pagination =====

.slider__pagination {
  position: absolute;
  right: 50px;
  bottom: 40px;
  width: 100%;
  max-width: 920px;
  .slick-current {
    .slider__box {
      border-color: #4af6cd;
    }
  }
}
.slider__box {
  padding: 6px 0 0 0;
  border-top: 4px solid #fff;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider__box-number {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.slider__box-name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

// Section surf =======================

.surf {
  position: relative;
}
.surf__image {
    position: absolute;
    right: 0;
    top: 8%;
}
.surf__suptitle {
  transform: translateY(-50%);
  text-align: right;
  padding: 0 80px 0 0;
  &-text {
    padding: 0 7px 0 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 66px;
    text-transform: uppercase;
    span {
      font-weight: 100;
    }
  }
}

// Map__slide  ===========================

.surf__map {
    max-width: 1200px;
    min-height: 635px;
    background: url(/images/surf/map.svg) center / cover no-repeat;
    margin: 0 auto;
    .slick-list {
      min-height: 635px;
    }
    .slick-current {
      .surf__map-content {
        display: block;
      }
    }
}
.surf__map-dots {
  position: relative;
  cursor: pointer;
    &-1 {
      top: 335px;
      left: 0;
    }
    &-2 {
      top: 285px;
      left: -10px; 
      .surf__map-circle {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          background: url(/images/surf/surf-icon/icon-map/05.svg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 13px;
          height: 16px;
          right: -40px;
          bottom: 40px;
        }
      }
    }
    &-3 {
      top: 320px;
      left: 40px;
    }
    &-4 {
      top: 500px;
      left: -40px;
    }
    &-5 {
      top: 220px;
      left: -60px; 
    }
    &-6 {
      top: 550px;
      left: -110px; 
    }
    &-7 {
      top: 430px;
      left: -20px;
    }
    &-8 {
      top:500px;
      left: 30px;
      .surf__map-content {
        &:last-child {
          transform: translateX(-60%);
        }
        &:last-child::before {
          left: 60%;
        }
      }
    }
}
.surf__map-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #4AF6CD;
    box-shadow:0px 0px 38px 0px rgba(74,246,205,0.29);
    -webkit-box-shadow:0px 0px 38px 0px rgba(74,246,205,0.29);
    -moz-box-shadow:0px 0px 38px 0px rgba(74,246,205,0.29);
}
.surf__map-content {
    display: none;
    width: 283px;
    padding: 30px 32px 0 32px;
    background: rgba(0, 0, 0, .4);
    border-radius: 5px;
    position: absolute;
    bottom: 45px;
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: -30px;
      left: 0;
      border-bottom: 20px solid #4AF6CD;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

}
.surf__map-content-row {
  padding: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
}
.surf__map-content-beach {
}
.surf__map-content-title {
  padding: 0 0 8px 0;
margin: 0 0 8px 0;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #4AF6CD;
    bottom: 0;
    left: 0;
  }
}
.surf__map-content-subtitle {
  font-size: 16px;
}
.surf__map-content-link {
}
.surf__map-content-item {
  text-align: center;
  
}
.surf__map-content-icon {
  margin: 0 auto;
  width: 26px;
  height: 24px;
}
.surf__map-content-number {
  padding: 6px 0;
  font-weight: 800;
  font-size: 16px;
}
.surf__map-content-text {
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
}


// &-card =====================

.surf__slide {
  .slick-prev,
  .slick-next {
    top: 60px;
    opacity: 0.25;
  }
  padding: 110px 0 0 0;
  .slick-slide:nth-child(4n + 1) {
    .surf__card {
      margin: 32px 0 0 0;
    }
  }
  .slick-slide:nth-child(4n + 3) {
    .surf__card {
      margin: 89px 0 0 0;
    }
  }
  .slick-current {
    .btn-box {
      display: block;
    }
    .surf__inner {
      background: rgba(#1c2121, 0.3);
    }
  }
}
.surf__card {
  block-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.surf__inner {
  padding: 70px 0 0 40px;
  min-height: 750px;
  background: rgba(#1c2121, 0.85);
  position: relative;
  transition: all 0.5s linear;
  &:hover {
    background: rgba(#1c2121, 0.3);
  }
}
.sutf__inner-title {
  max-width: 140px;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  text-transform: uppercase;
}
.sutf__inner-location {
  font-size: 18px;
  letter-spacing: 8px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  white-space: nowrap;
  position: absolute;
  bottom: 80px;
  left: 40px;
  width: 0;
  height: 0;
  span {
    font-weight: 100;
  }
}
.btn-box {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0;
  text-align: center;
}

// Travel ============================================

.travel {
  .slick-prev,
  .slick-next {
    top: 160px;
    opacity: .5;
  }
}
.travel__slider {
}
.travel__slider-top {
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 780px;
  .slick-prev,
  .slick-next {
    top: -40px;
  }
}
.travel__suptitle {
  transform: translateY(60%);
  text-align: right;
  padding: 0 80px 0 0;
  &--l {
    display: inline-block;
    padding: 0 0 0 132px;
    text-align: left;
    position: relative;
    img {
      position: absolute;
      right: -70px;
      top: 40px;
    }
  }
  &-text {
    padding: 0 7px 0 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 66px;
    text-transform: uppercase;
    span {
      font-weight: 100;
    }
  }
}
.travel__slider-description {
  transform:translateY(-100%);
  background-repeat: no-repeat;
  background-position: center right;
  min-height: 220px;
}

// Travel__info =============================

.travel__slider-info {
  margin: -80px 0 0 0;
  background-repeat: no-repeat;
  background-position: center right;
  min-height: 450px;

  display: flex;
  justify-content: space-around;
}
.travel__slider-info-item {
  padding: 0 0 0 40px;
  width: 100%;
  max-width: 250px;
  position: relative;
}
.travel__slider-info-title {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 36px;
}
.travel__slider-info-subtitle {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: right;
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  width: 200px;
  height: 0;
  left:-97px;
  top: 97px;
}
.travel__slider-info-suptitle {
  margin: 10px 10px 0 0;
  font-size: 14px;
  text-align: right;
  letter-spacing: 5.25px;
  text-transform: uppercase;
  opacity: 0.75;
}
.btn-travel {
  margin: -100px 0 0 0;
  text-align: center;
}

// Sleep =======================================

.sleep {
  background: url(/images/sleep/hammock.png), url(/images/sleep/frangipani-copy.png), url(/images/sleep/frangipani.png);
  background-repeat: no-repeat;
  background-size: contein;
  background-position: right 600px, right 800px, right bottom;
  .slick-prev,
  .slick-next {
    top: 160px;
    opacity: .5;
  }
}
.sleep__slider-top {
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 780px;
  .slick-prev,
  .slick-next {
    top: -40px;
  }
}
.sleep__suptitle {
  transform: translateY(60%);
  text-align: right;
  padding: 0 80px 0 0;
  &--l {
    display: inline-block;
    padding: 0 0 0 132px;
    text-align: left;
    position: relative;
    .sleep__slider-description-list {
      position: absolute;
      right: -180px;
      top: 40px;
      li {
        display: inline-block;
        margin: 0 -20px 0 0 ;
      }
    }
  }
  &-text {
    padding: 0 7px 0 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 66px;
    text-transform: uppercase;
    span {
      font-weight: 100;
    }
  }
}
.sleep__slider-description {
  transform:translateY(-100%);
  background-repeat: no-repeat;
  background-position: center right;
  min-height: 220px;
}

.sleep__slider-info {
  margin: -80px 0 0 0;
  background-repeat: no-repeat;
  background-position: center right;
  min-height: 450px;

  display: flex;
  justify-content: space-around;
}
.sleep__slider-info-item {
  padding: 0 0 0 40px;
  width: 100%;
  max-width: 250px;
  position: relative;
}
.sleep__slider-info-title {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sleep__slider-info-subtitle {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: right;
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  width: 200px;
  height: 0;
  left:-97px;
  top: 97px;
}
.sleep__slider-info-suptitle {
  margin: 10px 10px 0 0;
  font-size: 14px;
  text-align: right;
  letter-spacing: 5.25px;
  text-transform: uppercase;
  opacity: 0.75;
}
.btn-travel {
  margin: -100px 0 0 0;
  text-align: center;
}

// Shop ==============================================

.shop__slider {
  background-image: url(/images/shop/shop-bg.png);
  background-size: contein;
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 780px;
  .slick-prev,
  .slick-next {
    top: 0;
    opacity: .25;
  }
}
.shop__slider-item {
  display: flex;
}
.shop__price {
  flex: 0 1 30%;
  max-width: 450px;
  padding: 166px 0 0 136px;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  sup {
    font-size: 18px;
  }
}
.suptitle-line--left {
  margin: 0 0 18px 0;
}
.shop__suptitle-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0 0 47px 0;
}
.shop__slider-description-list {
  margin: 0 0 0 -20px;
  li {
    display: inline-block;
    margin: 0 0 0 -23px;
    &:first-child {
      margin: 0;
    }
  }
}
.shop__content {
  display: flex;
  justify-content: space-around;
  flex: 0 1 70%;
  align-items: flex-end;
}
.extras-title {
  padding: 0 0 0 10px;
  margin: 0 0 25px 0;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
}
.shop__extras {
}
.extras-inner {
  display: flex;
  align-items: flex-end;
  text-align: center;
}
.extras-box {
  padding: 0 30px;
}
.extras-text {
  margin: 36px 0 0 0;
  font-size: 18px;
  text-align: right;
  letter-spacing: 8px;
  text-transform: uppercase;
  opacity: 0.5;
}
.extras-price {
  margin: 16px 0 0 0;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}
.shop__image {
  position: relative;
}
.shop__image-inner {
  position: absolute;
  top: 30%;
  left: 75%;
  &--2 {
    position: absolute;
    top: 45%;
    left: 0;
  }
  &--3 {
    position: absolute;
    top: 90%;
    left: 30%;
  }
}
.shop__image-circle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  &.active  {
    .circle-row {
      transform: translate(-50%, -50%) rotate(0);
    }
    + .shop__image-text {
      display: block;
    }
  }
}
.circle-row {
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #4AF6CD;
  border-radius: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  & + .circle-row {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
.shop__image-text {
  display: none;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  position: absolute;
  width: 359px;
  padding: 0 0 0 100px;
  top: -14px;
  left: 30px;
  &::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #fff;
  }
}

// Footer ==================================

.footer {
  margin: 100px 0 0 0;
}
.btn-footer {
  padding: 0 0 24px 0;
  text-align: center;
  span {
    padding: 17px;
    &::after {
      display: none;
    }
  }
}
.footer__copy {
  padding: 0 0 34px 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  opacity: 0.5;
}


@import "media.scss";
